# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
github-trending-collect
__debug*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
target
cache

# Dependency directories (remove the comment below to include it)
# vendor/
.env
.idea
.vscode
config.yaml

git config user.name=朱志鹏
git config user.email=zpzhue@gmail.com